-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: test6
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrateur`
--

DROP TABLE IF EXISTS `administrateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrateur` (
  `id_admin` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `role` enum('admin','chef') NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `date_creation` datetime DEFAULT current_timestamp(),
  `actif` tinyint(1) DEFAULT 1,
  `token` varchar(255) DEFAULT NULL,
  `reset_token_expiry` datetime DEFAULT NULL,
  PRIMARY KEY (`id_admin`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrateur`
--

LOCK TABLES `administrateur` WRITE;
/*!40000 ALTER TABLE `administrateur` DISABLE KEYS */;
INSERT INTO `administrateur` VALUES (9,'service','chef','boulerhcha.abderrahmane@gmail.com','Lili10.com','chef','uploads/admin_photos/admin_9_1744283712.jpg','2025-03-23 21:28:27',1,'449180','2025-04-14 18:48:53');
/*!40000 ALTER TABLE `administrateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demande_pret`
--

DROP TABLE IF EXISTS `demande_pret`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demande_pret` (
  `id_demande` int(11) NOT NULL AUTO_INCREMENT,
  `id_utilisateur` int(11) NOT NULL,
  `id_materiel` int(11) NOT NULL,
  `quantite` int(11) NOT NULL,
  `motif` TEXT NOT NULL,
  `date_demande` datetime DEFAULT current_timestamp(),
  `date_validation` datetime DEFAULT NULL,
  `statut` enum('en_attente','valid├®','valide en attente retour','refus├®','retourn├®') NOT NULL,
  `date_retour_prevue` datetime DEFAULT NULL,
  `commentaire` text DEFAULT NULL,
  PRIMARY KEY (`id_demande`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `id_materiel` (`id_materiel`),
  KEY `idx_demande_pret_statut` (`statut`),
  KEY `idx_demande_pret_date_retour` (`date_retour_prevue`),
  KEY `idx_demande_pret_statut_date` (`statut`,`id_demande`),
  KEY `idx_demande_pret_materiel` (`id_materiel`,`statut`),
  KEY `idx_demande_pret_utilisateur` (`id_utilisateur`,`statut`),
  KEY `idx_statut` (`statut`),
  KEY `idx_date_retour` (`date_retour_prevue`),
  CONSTRAINT `demande_pret_ibfk_1` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`) ON DELETE CASCADE,
  CONSTRAINT `demande_pret_ibfk_2` FOREIGN KEY (`id_materiel`) REFERENCES `materiel` (`id_materiel`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=916 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demande_pret`
--

LOCK TABLES `demande_pret` WRITE;
/*!40000 ALTER TABLE `demande_pret` DISABLE KEYS */;
/*!40000 ALTER TABLE `demande_pret` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_autorise`
--

DROP TABLE IF EXISTS `email_autorise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_autorise` (
  `id_email` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  PRIMARY KEY (`id_email`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_autorise`
--

LOCK TABLES `email_autorise` WRITE;
/*!40000 ALTER TABLE `email_autorise` DISABLE KEYS */;
INSERT INTO `email_autorise` VALUES (35,'abdeboul522@gmail.com'),(26,'boulerhcha.abderrahmane@gmail.com');
/*!40000 ALTER TABLE `email_autorise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_actions`
--

DROP TABLE IF EXISTS `historique_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_actions` (
  `id_action` int(11) NOT NULL AUTO_INCREMENT,
  `id_admin` int(11) NOT NULL,
  `type_action` enum('validation_demande','refus_demande','validation_retour','ajout_email','suppression_email','ajout_utilisateur','suppression_utilisateur','modification_utilisateur','ajout_materiel','modification_materiel','suppression_materiel','ajout_admin','modification_admin','suppression_admin') DEFAULT NULL,
  `date_action` datetime NOT NULL,
  `id_demande` int(11) DEFAULT NULL,
  `id_materiel` int(11) DEFAULT NULL,
  `id_utilisateur` int(11) DEFAULT NULL,
  `id_retour` int(11) DEFAULT NULL,
  `id_email` int(11) DEFAULT NULL,
  `details` text DEFAULT NULL,
  PRIMARY KEY (`id_action`),
  KEY `id_admin` (`id_admin`),
  KEY `id_demande` (`id_demande`),
  KEY `id_materiel` (`id_materiel`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `id_retour` (`id_retour`),
  KEY `historique_actions_ibfk_6` (`id_email`),
  CONSTRAINT `historique_actions_ibfk_2` FOREIGN KEY (`id_demande`) REFERENCES `demande_pret` (`id_demande`),
  CONSTRAINT `historique_actions_ibfk_3` FOREIGN KEY (`id_materiel`) REFERENCES `materiel` (`id_materiel`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `historique_actions_ibfk_4` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`),
  CONSTRAINT `historique_actions_ibfk_6` FOREIGN KEY (`id_email`) REFERENCES `email_autorise` (`id_email`) ON DELETE SET NULL,
  CONSTRAINT `historique_actions_ibfk_7` FOREIGN KEY (`id_email`) REFERENCES `email_autorise` (`id_email`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_actions`
--

LOCK TABLES `historique_actions` WRITE;
/*!40000 ALTER TABLE `historique_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materiel`
--

DROP TABLE IF EXISTS `materiel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materiel` (
  `id_materiel` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `type` enum('consommable','non-consommable') NOT NULL,
  `description` text DEFAULT NULL,
  `quantite_disponible` int(11) NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `date_acquisition` datetime DEFAULT current_timestamp(),
  `emplacement` text DEFAULT NULL,
  `actif` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id_materiel`),
  KEY `idx_materiel_type` (`type`),
  KEY `idx_type` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=242 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materiel`
--

LOCK TABLES `materiel` WRITE;
/*!40000 ALTER TABLE `materiel` DISABLE KEYS */;
/*!40000 ALTER TABLE `materiel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id_notification` int(11) NOT NULL AUTO_INCREMENT,
  `id_utilisateur` int(11) DEFAULT NULL,
  `message` text NOT NULL,
  `type` enum('demande','validation','refus','retour','rappel') NOT NULL,
  `date_envoi` datetime DEFAULT current_timestamp(),
  `lu` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_notification`),
  KEY `id_utilisateur` (`id_utilisateur`),
  CONSTRAINT `notification_ibfk_1` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2589 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_administrateur`
--

DROP TABLE IF EXISTS `notification_administrateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_administrateur` (
  `id_notification` int(11) NOT NULL,
  `id_admin` int(11) NOT NULL,
  PRIMARY KEY (`id_notification`,`id_admin`),
  KEY `id_admin` (`id_admin`),
  CONSTRAINT `notification_administrateur_ibfk_1` FOREIGN KEY (`id_notification`) REFERENCES `notification` (`id_notification`) ON DELETE CASCADE,
  CONSTRAINT `notification_administrateur_ibfk_2` FOREIGN KEY (`id_admin`) REFERENCES `administrateur` (`id_admin`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_administrateur`
--

LOCK TABLES `notification_administrateur` WRITE;
/*!40000 ALTER TABLE `notification_administrateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_administrateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferences_admin`
--

DROP TABLE IF EXISTS `preferences_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferences_admin` (
  `id_admin` int(11) NOT NULL,
  `notifications_sonores` tinyint(1) DEFAULT 0,
  `date_modification` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_admin`),
  CONSTRAINT `preferences_admin_ibfk_1` FOREIGN KEY (`id_admin`) REFERENCES `administrateur` (`id_admin`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferences_admin`
--

LOCK TABLES `preferences_admin` WRITE;
/*!40000 ALTER TABLE `preferences_admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `preferences_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retour_pret`
--

DROP TABLE IF EXISTS `retour_pret`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `retour_pret` (
  `id_retour` int(11) NOT NULL AUTO_INCREMENT,
  `id_demande` int(11) NOT NULL,
  `date_retour` datetime DEFAULT NULL,
  `etat_retour` enum('fonctionnel','d├®fectueux') NOT NULL DEFAULT 'fonctionnel',
  `commentaire` text DEFAULT NULL,
  `id_admin` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_retour`),
  KEY `id_demande` (`id_demande`),
  CONSTRAINT `retour_pret_ibfk_1` FOREIGN KEY (`id_demande`) REFERENCES `demande_pret` (`id_demande`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=612 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retour_pret`
--

LOCK TABLES `retour_pret` WRITE;
/*!40000 ALTER TABLE `retour_pret` DISABLE KEYS */;
/*!40000 ALTER TABLE `retour_pret` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id_utilisateur` int(11) NOT NULL AUTO_INCREMENT,
  `id_email` int(11) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `role` enum('technicien','ing├®nieur informatique') NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `date_creation` datetime DEFAULT current_timestamp(),
  `actif` tinyint(1) DEFAULT 1,
  `dark_mode` tinyint(1) DEFAULT 0,
  `token` varchar(255) DEFAULT NULL,
  `reset_token_expiry` datetime DEFAULT NULL,
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `id_email` (`id_email`),
  KEY `idx_utilisateur_id` (`id_utilisateur`),
  CONSTRAINT `utilisateur_ibfk_1` FOREIGN KEY (`id_email`) REFERENCES `email_autorise` (`id_email`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
INSERT INTO `utilisateur` VALUES (13,26,'1','user','Lili10.com','ing├®nieur informatique','uploads/user_photos/67fe9f60a8a20.jpg','2025-04-13 19:08:53',1,0,NULL,NULL),(18,35,'Pingree','Clor','Lili10.coma','ing├®nieur informatique',NULL,'2025-04-14 11:19:19',1,0,NULL,NULL);
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-15 21:43:56
